body{
margin: 0;
font-family: 'Comfortaa', cursive;
min-width: 450px;
padding-bottom: 5rem;
}
header{
    top: 0;
    left: 0;
    width: 100%;
    min-width: 450px;
    background-color: rgba(255, 255, 255, 0.329);
    padding-left: 2rem;
    padding-right: 2rem;
    position: fixed;
    box-sizing: border-box;
}
.languageBar{
    display: flex;
    justify-content: end;
    width: 100%;
    box-sizing: border-box;
}
.laguageFlag{
    display: flex;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    margin-top: 1rem;
}

.laguageFlag li a img{
    width: 1.5rem;
    transition: 0.3s;
}
.laguageFlag li a img:hover{
    scale: 1.3;
}
.navBar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #FF387E;
}
.navbarContent1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbarContent1 a{
    display: none;
}
.navbarContent1 a img{
    width: 40px;
}
.navbarContent{
display: flex;
gap: 3rem;
}
.navbarContent a{
    text-decoration: none;
    color: #FF387E;
    transition: 0.3s;
}
.navbarContent a:hover{
    scale: 1.3;
}
.navbarHref{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.navbarHref a img{
    width: 2rem;
    transition: 0.3s;
}
.navbarHref a img:hover{
    scale: 1.3;
}
.addBtn{
    width: 8rem;
    border-radius: 10rem;
    padding: 0.5rem 0.1rem;
    font-weight: 600;
    color: white;
    background-color:#FF387E;
    cursor: pointer;
}
.addBtn:hover{
    background-color: #5d132d;
}
.logo{
    width: 100px;
}
.wrapper{
    margin-top: 6rem;
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.wrapperLink{
    padding-top: 1rem;
    width: 100%;
    text-decoration: none;
    color: #FF387E;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8e8ed;
    border-radius: 1rem;
    transition: 0.3s;
}
.wrapperLink:hover{
    scale: 1.02;
}
.pictureUrl{
    width: 90%;
    height: 300px;
    object-fit: cover;
    
}

.contentDiv{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    box-sizing: border-box;

}
.rightDiv{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 1rem;
}

.leftDiv{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 1rem;
}

@media screen and (max-width: 940px) {
    .wrapper{
        grid-template-columns: 1fr;
    }
    .navbarContent{
        display: none;
    }
    .navbarContent1 a{
        display: block;
    }
}
@media screen and (max-width: 520px){
    .navbarHref{
        gap: 0.5rem;
    }
    .navbarHref a img{
        width: 1.3rem;
    }
    .addBtn{
        width: 4rem;
        border-radius: 1rem;
        font-size: 0.8rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;

    }
}