.aboutWrapper{
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: antiquewhite;
    padding: 1rem 2rem;
    background-color: #f8e8ed;
    margin-top: 2rem;
    color: #FF387E;
}
p{
    margin-bottom:0 ;
}
.aboutWrapper::first-letter{
    padding-left: 2rem;
}
p::first-letter{
    padding-left: 2rem;
}