.contactBox{
    background-color: #f8e8ed;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem 2rem;
    box-sizing: border-box;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FF387E;
}
h3 a{
    color: #FF387E;
}
@media screen and (max-width: 605px){
    h1{
        font-size: 1.5rem;
    }
    h3{
        font-size: 0.8rem;
    }
}